@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "mixin";
@import "main";
@import "layout";
@import "notice";

* {
  font-family: "Noto Sans CJK KR", Noto Sans KR, sans-serif;
  line-height: 140%;
  margin: 0;
  padding: 0;
}

#app {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: calc(100% - 95px);
}
