section.header {
  position: relative;
  width: 100%;
  height: 95px;

  .header {
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;

    .path {
      position: absolute;
      right: 10%;
      bottom: 10%;
      font-size: 15px;
      color: $sub-color;

      i {
        padding: 10px;
      }
    }
  }
}

div.away {
  float: left;
  height: 100%;
  width: 128px;

  section.sidebar {
    position: absolute;
    z-index: 3;
    width: 128px;
    height: 100%;

    .sidebar {
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      color: white;

      img {
        width: 100%;
        cursor: pointer;
      }

      &-category {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-logout {
        color: white;
        font-size: 12px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  section.sub-sidebar {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: 2;

    .sub-sidebar {
      &-close {
        opacity: 0;
        transform: translateX(0);
        transition: all 500ms;
        width: 128px;
        height: 100vh;
      }

      &-open {
        background-color: white;
        width: 200px;
        height: 100vh;
        transform: translateX(128px);
        transition: all 250ms;
        box-shadow: 0 0 10px 0 $disable-color;

        &-category {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &-item {
            font-weight: bold;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: 2px solid white;
            cursor: pointer;

            &:hover {
              border: 2px solid rgba(204, 204, 204, 0.2);
              color: $hover-color;
            }

            &-active {
              font-weight: bold;
              display: flex;
              align-content: center;
              justify-content: center;
              align-items: center;
              height: 50px;
              border: 2px solid rgba(204, 204, 204, 0.2);
              color: $hover-color;
              cursor: pointer;
            }
          }

          #active-item {
            font-weight: bold;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: 2px solid rgba(204, 204, 204, 0.2);
            color: $hover-color;
            cursor: pointer;
          }
        }
      }

      .back {
        text-align: right;
        font-size: 20px;
        color: $disable-color;
        cursor: pointer;

        i {
          margin: 30px 17px;
        }
      }

      .hi {
        font-weight: bold;
        color: $sub-color;
        text-align: center;
        cursor: default;
      }
    }
  }
}

section.category {
  .category {
    width: 100%;
    text-align: center;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 88px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }

      i {
        font-size: 26px;
        margin-bottom: 8px;
      }
    }
  }
}

#calendar-btn {
  opacity: 0.5;
  position: absolute;
  z-index: 10;
  top: 7px;
  right: 7px;
  width: 15px;
  height: 15px;
  background-color: $primary-color;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px $primary-color;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.calendar-section {
  position: absolute;
  z-index: 11;
  top: 15px;
  right: 15px;
}

.prevent-calendar {
  position: absolute;
  width: 252px;
  height: 270px;
  z-index: 12;
  top: 15px;
  right: 15px;
}

section.data-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .data-list {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    height: 100%;

    table {
      position: absolute;
      top: 90px;
      width: 100%;
      height: auto;
      border-top: 2px solid $sub-color;
      border-bottom: 2px solid $disable-color;
      border-spacing: 0;

      thead {
        font-size: 16px;
        font-weight: bold;
        width: 100%;

        tr {
          th {
            padding: 15px 0 15px 0;
          }
        }
      }

      tbody {
        width: 700px;

        tr {
          width: 100%;
          color: $sub-color;
          cursor: pointer;

          &:hover {
            background-color: $background-color;
          }

          td {
            text-align: center;
            padding: 15px 0 15px 0;
            border-top: 2px solid $disable-color;
          }
        }
      }
    }
  }

  .pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    div {
      cursor: pointer;
    }

    span {
      color: $disable-color;
      padding: 0 10px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        color: $sub-color;
        font-weight: bold;
      }
    }

    .page-active {
      color: $sub-color;
      font-weight: bold;
    }

    .arrow {
      width: 30px;
      height: 30px;
      margin: 0 20px;
      pointer-events: none;
      opacity: 0;

      &-active {
        background-color: $disable-color;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        opacity: 1;
        color: white;
        margin: 0 20px;

        &:hover {
          color: $sub-color;
        }
      }
    }
  }
}

section.card {

}
