.login-page {
  width: 100%;
  height: 100%;
  background-color: white;

  &-header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    font-weight: 700;
    color: $disable-color;
  }

  &-select {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &-hello {
      font-size: 22px;
      color: $sub-color;

      &-guide {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &-section {
      display: flex;
      margin: 45px 0;

      &-item {
        position: relative;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
        width: 170px;
        height: 170px;
        background-color: $primary-color;
        border-radius: 25px;
        margin: 0 16px;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }

        &-user {
          position: absolute;
          font-size: 18px;
          font-weight: 700;
          color: white;
          top: 13px;
          left: 20px;
        }

        &-icon {
          img {
            position: absolute;
            height: 116px;
            bottom: 0;
            right: 0;
          }
        }

        &:hover {
          img {
            height: 126px;
            transition: all 200ms;
          }
        }
      }
    }
  }
}

.login-input {
  width: 100%;
  height: 100%;

  .back {
    position: absolute;
    width: 185px;
    top: 30px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $sub-color;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 498px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 4px $disable-color;

    &-section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
        font-size: 24px;
        font-weight: 700;
      }

      &-sub {
        font-size: 16px;
        color: $disable-color;
      }

      &-icon {
        width: 100px;
        height: 100px;
        color: $disable-color;
        margin: 10px 0;
      }

      &-input {
        width: 290px;
        height: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: $sub-color;
        border: 3px solid $disable-color;
        border-radius: 20px;
      }

      input[type="text"]:focus {
        border: 3px solid $sub-color;
      }

      &-btn {
        width: 164px;
        height: 40px;
        border-radius: 19px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: $primary-color;
        border: 0;
        margin: 10px 0;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

section.my-info {
  //TODO 내 정보 화면 작업
  .my-info {
    &-head {
      width: 1314px;
      height: 95px;
      background-color: #e7e7e7;
    }

    &-body {
      width: 1314px;
      height: 929px;
      background-color: #f8f8f8;
      position: relative;
    }
  }
}
