$background-color: #f8f8f8;
$primary-color: #0099ff;
$hover-color: #32adff;
$sub-color: #565656;
$disable-color: #cccccc;

@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@mixin section-custom {
  position: relative;
  width: calc(100% - 128px);
  overflow: scroll;
}
