@mixin detail-custom {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 1010px;
  height: 714px;
  border: 3px solid #efefef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.modal {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 18px;
    box-shadow: 4px 4px 20px 4px $disable-color;

    i[class*="xmark"] {
      position: absolute;
      z-index: 10;
      color: $disable-color;
      font-size: 28px;
      top: 17px;
      right: 22px;
      cursor: pointer;
    }

    //button style
    &-button {
      .btn {
        position: absolute;
        z-index: 10;
        top: 46px;
        left: 47px;
        width: 128px;
        height: 32px;
        cursor: pointer;

        div[class*="-save"],
        div[class*="-edit"] {
          width: 100%;
          height: 100%;
          border-radius: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          font-weight: bold;
          color: white;
        }

        &-save {
          position: absolute;
          opacity: 0;
          z-index: -1;

          &-active {
            opacity: 1;
            background-color: #9e9e9e;
            z-index: 1;
            transition: all 0.2s;

            &:hover {
              background-color: $sub-color;
            }
          }
        }

        &-edit {
          position: absolute;
          opacity: 0;
          z-index: -1;

          &-active {
            opacity: 1;
            background-color: $primary-color;
            z-index: 1;
            transition: all 0.2s;

            &:hover {
              background-color: $hover-color;
            }
          }
        }

        &-insert {
          position: absolute;
          bottom: 27px;
          right: 30px;
          border-radius: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 110px;
          height: 35px;
          background-color: $primary-color;
          z-index: 1;
          font-size: 15px;
          font-weight: bold;
          color: white;
          transition: all 0.2s;

          &:hover {
            background-color: $hover-color;
          }
        }
      }
    }

    &-title {
      position: absolute;
      font-size: 17px;
      font-weight: bold;
      color: $sub-color;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-body {
      position: relative;
      overflow: scroll;
      width: 100%;
      height: 100%; // 강사의 내 정보 상세

      //teacher myInfo detail
      .user-detail {
        position: absolute;
        width: 100%;
        height: 340px;
        bottom: 123px;
        display: flex;
        align-items: center;

        .sap {
          position: absolute;
          left: 438px;
          width: 1px;
          height: 100%;
          border-right: 3px solid #efefef;
        }

        &-profile {
          position: absolute;
          left: 130px;
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 190px;
            font-size: 110px;
            color: white;
            border-radius: 50%;
            background-color: $disable-color;
          }

          i[class$="camera"] {
            position: absolute;
            left: 143px;
            bottom: 35px;
            font-size: 25px;
            width: 50px;
            height: 50px;
            background-color: #777777;
            border: 4px solid white;
          }

          input[type="file"] {
            opacity: 0;
            position: absolute;
            left: 143px;
            bottom: 30px;
            width: 50px;
            height: 50px;
          }

          &-name {
            font-size: 15px;
            color: $sub-color;
            margin-top: 20px;

            > span {
              font-weight: bold;
            }
          }
        }

        &-info {
          position: absolute;
          left: 442px;
          width: 636px;
          height: 100%;
          display: flex;
          align-items: center;

          &-content {
            position: absolute;
            top: 40px;
            display: flex;
            width: 100%;
            height: calc(100% - 40px);

            span {
              display: block;
              font-size: 13px;
              font-weight: bold;
            }

            span[class*="label"] {
              color: #777777;
            }

            span[class*="item"] {
              color: #343434;
              margin-bottom: 35px;
            }

            input {
              width: 169px;
              height: 30px;
              border: 2px solid #d9d9d9;
              border-radius: 8px;
              color: #9c9c9c;
              outline: none;
              margin-top: 5px;
              margin-bottom: 17px;
              padding-left: 11px;
            }

            input.sns-item {
              width: 357px;
            }

            &-left {
              position: absolute;
              left: 119px;

              span.sns-item {
                display: flex;
                align-items: center;
                margin-bottom: 0;

                a {
                  text-decoration: none;
                  color: #343434;

                  &:visited {
                    text-decoration: none;
                  }
                }

                i {
                  margin-left: 5px;

                  &:hover {
                    opacity: 0.8;
                  }
                }
              }

              .part-item-edit {
                font-size: 13px;
                color: #9c9c9c;
                width: 169px;
                height: 30px;
                border: 2px solid #d9d9d9;
                border-radius: 8px;
                margin-top: 5px;
                margin-bottom: 17px;
                display: flex;
                align-items: center;
                padding-left: 11px;
                cursor: default;
              }
            }

            &-right {
              position: absolute;
              left: 372px;

              span.join-item {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      //notice detail
      .notice-detail {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: 1010px;
        height: 714px;
        border: 3px solid #efefef;
        border-radius: 10px;

        &-container {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &-header {
            height: auto;
            display: flex;
            font-size: 13px;
            font-weight: bold;
            color: #777777;

            div[class*="header-"] {
              display: flex;
              height: 32px;

              div[class$="label"] {
                width: 112px;
                background-color: #d9d9d9;
                border-radius: 10px 0 0 10px;
              }

              div[class$="item"] {
                border-radius: 0 10px 10px 0;
              }

              div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #d9d9d9;
              }

              .type-item {
                width: 112px;
                margin-right: 31px;
              }

              .title-item {
                width: 240px;
                margin-right: 31px;
              }

              .date-item {
                width: 186px;
              }
            }
          }

          &-body {
            width: 892px;
            height: 592px;
            border: 2px solid #d9d9d9;
            border-radius: 10px;
            margin-top: 23px;
            padding: 14px 32px;
            font-size: 17px;
            color: $disable-color;
            overflow: scroll;
          }
        }
      }

      //suggest detail
      .suggest-detail {
        @include detail-custom();

        &-section {
          position: relative;
          top: 28px;
          width: 936px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-header {
            width: 100%;
            height: 34px;
            border: 2px solid #e7e7e7;
            border-radius: 17px;
            display: flex;
            align-items: center;
            color: $sub-color;
            font-size: 14px;
            font-weight: bold;

            div {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .date {
              width: 284px;
            }

            .type {
              width: 260px;
            }

            .state {
              width: 200px;
            }

            .writer {
              width: 191px;
            }

            .sap {
              width: 1px;
              height: 22px;
              border-right: 2px solid #e7e7e7;
            }
          }

          .top-sap {
            width: 100%;
            height: 1px;
            border-bottom: 2px solid #efefef;
            margin-top: 20px;
          }

          &-content {
            position: absolute;
            left: 0;
            top: 85px;
            width: 430px;
            font-size: 14px;
            color: $sub-color;

            &-label {
              font-weight: bold;
            }

            &-item {
              height: 500px;
              overflow: scroll;
              margin-top: 10px;
              color: #777777;
            }
          }

          .center-sap {
            width: 1px;
            height: 560px;
            border-right: 2px solid #e7e7e7;
            margin-top: 26px;
          }

          &-answer {
            position: absolute;
            right: 0;
            top: 85px;
            width: 430px;
            font-size: 14px;
            color: $sub-color;

            &-label {
              font-weight: bold;

              > span {
                font-weight: normal;
                margin-left: 10px;
              }
            }

            &-item {
              height: 500px;
              margin-top: 10px;
              color: #777777;
            }
          }
        }
      }

      //consult detail
      .consult-detail {
        @include detail-custom();

        &-section {
          position: relative;
          top: 28px;
          width: 936px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-header-list {
            border: 2px solid #e7e7e7;
            border-radius: 17px;
          }

          &-header {
            justify-content: space-between;
          }

          &-header,
          &-header-list {
            width: 100%;
            height: 34px;
            display: flex;
            align-items: center;

            &-item {
              width: 740px;
              height: 100%;
              border: 2px solid #e7e7e7;
              border-radius: 17px;
              display: flex;
              align-items: center;
              color: $sub-color;
              font-size: 14px;
              font-weight: bold;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .date {
              width: 260px;
            }

            .time {
              width: 265px;
            }

            .type {
              width: 222px;
            }

            .name {
              width: 190px;
            }

            .sap {
              width: 1px;
              height: 22px;
              border-right: 2px solid #e7e7e7;
            }

            .save-btn {
              background-color: white;
              width: 170px;
              height: 100%;
              border: 2px solid $primary-color;
              border-radius: 19px;
              font-size: 14px;
              font-weight: bold;
              color: $primary-color;
              transition: all 0.2s;
              cursor: pointer;

              &:hover {
                background-color: $primary-color;
                color: white;
              }
            }
          }

          &-body {
            width: 872px;
            height: 582px;
            border: 2px solid #d9d9d9;
            border-radius: 10px;
            margin-top: 18px;
            padding: 14px 32px;
            font-size: 16px;
            font-weight: bold;
            color: #777777;
            overflow: scroll;
          }

          textarea {
            outline: none;
            resize: none;

            &::placeholder {
              color: $disable-color;
            }
          }
        }
      }

      //analysis insert
      .analysis-insert {
        @include detail-custom();

        &-header {
          position: absolute;
          top: 23px;
          width: 916px;
          height: auto;
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 29px;
            border: 2px solid $disable-color;
            border-radius: 10px;
            font-size: 13px;
            font-weight: bold;
            color: #9e9e9e;
          }

          &-lecture {
            width: 271px;
          }

          &-student {
            width: 182px;
          }

          &-date {
            width: 275px;
          }

          &-save {
            background-color: $disable-color;
            width: 130px;
            height: 33px;
            border: 0;
            border-radius: 10px;
            font-size: 13px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
              background-color: $sub-color;
            }
          }
        }

        .sap {
          position: absolute;
          top: 76px;
          width: 916px;
          height: 1px;
          border-bottom: 2px solid #efefef;
        }

        &-body {
          position: absolute;
          top: 78px;
          width: 916px;
          height: 600px;
          font-size: 16px;
          font-weight: bold;
          padding: 14px 0;
          color: #777777;
          overflow: scroll;
        }

        textarea {
          border: 0;
          outline: none;
          resize: none;

          &::placeholder {
            color: $disable-color;
          }
        }
      }

      //analysis detail
      .analysis-detail {
        @include detail-custom();

        &-header {
          position: absolute;
          top: 25px;
          width: 916px;
          height: auto;
          display: flex;
          border-bottom: 2px solid #efefef;

          div {
            width: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            font-size: 13px;
            font-weight: bold;
            color: $sub-color;
          }

          .sap {
            width: 1px;
            height: 28px;
            border-right: 2px solid #efefef;
          }
        }

        &-body {
          position: absolute;
          top: 78px;
          width: 916px;
          height: 600px;
          font-size: 16px;
          font-weight: bold;
          padding: 14px 0;
          color: #777777;
          overflow: scroll;
        }
      }

      //attendance detail
      .attend-detail {
        @include detail-custom();
        height: 730px;
        bottom: 0;
        border: 0;
        width: 100%;

        &-student {
          position: absolute;
          top: 5px;
          font-size: 15px;
          font-weight: bold;
          color: $disable-color;
        }

        &-list {
          position: absolute;
          top: 65px;
          width: 900px;
          height: auto;

          table {
            border: 2px solid $disable-color;
            text-align: center;
            border-spacing: 0;
            width: 100%;
            font-size: 14px;
            font-weight: bold;
            color: #343434;

            thead {
              tr {
                width: 100%;
                height: 43px;

                td {
                  background-color: #e7e7e7;
                  width: 25%;
                }
              }
            }

            tbody {
              overflow: scroll;

              tr {
                width: 100%;
                height: 40px;

                td {
                  width: 25%;
                  color: $sub-color;
                  font-weight: normal;
                  border-top: 2px solid $disable-color;
                }
              }
            }
          }

          .no-data {
            position: absolute;
            top: 250px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
