section.modal {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 18px;
    box-shadow: 4px 4px 20px 4px $disable-color;

    i[class*="xmark"] {
      position: absolute;
      color: $disable-color;
      font-size: 28px;
      top: 17px;
      right: 22px;
      cursor: pointer;
    }

    &-save {
      position: absolute;
      top: 19px;
      left: 33px;
      width: 110px;
      height: 35px;
      border-radius: 19px;
      background-color: $primary-color;
      color: white;
      font-size: 15px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }
    }

    &-button {
      .btn {
        position: absolute;
        top: 46px;
        left: 47px;
        width: 128px;
        height: 32px;
        cursor: pointer;

        div[class*="btn"] {
          width: 100%;
          height: 100%;
          border-radius: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          font-weight: bold;
          color: white;
        }

        &-save {
          position: absolute;
          opacity: 0;
          z-index: -1;

          &-active {
            opacity: 1;
            background-color: #9e9e9e;
            z-index: 1;

            &:hover {
              background-color: $sub-color;
            }
          }
        }

        &-edit {
          position: absolute;
          opacity: 0;
          z-index: -1;

          &-active {
            opacity: 1;
            background-color: $primary-color;
            z-index: 1;

            &:hover {
              background-color: $hover-color;
            }
          }
        }
      }
    }

    &-title {
      position: absolute;
      font-size: 17px;
      font-weight: bold;
      color: $sub-color;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-body {
      position: absolute;
      overflow: scroll;
      width: 100%;
      height: calc(100% - 100px); // 강사의 내 정보 상세
      top: 100px;

      .teacher-section {
        position: absolute;
        width: 100%;
        height: 340px;
        bottom: 123px;
        display: flex;
        align-items: center;

        .sap {
          position: absolute;
          left: 438px;
          width: 1px;
          height: 100%;
          border-right: 3px solid #efefef;
        }

        &-profile {
          position: absolute;
          left: 130px;
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 190px;
            font-size: 110px;
            color: white;
            border-radius: 50%;
            background-color: $disable-color;
          }

          &-name {
            font-size: 15px;
            color: $sub-color;
            margin-top: 20px;

            > span {
              font-weight: bold;
            }
          }
        }

        &-info {
          position: absolute;
          left: 442px;
          width: 636px;
          height: 100%;
          display: flex;
          align-items: center;

          &-content {
            position: absolute;
            top: 40px;
            display: flex;
            width: 100%;
            height: calc(100% - 40px);

            span {
              display: block;
              font-size: 13px;
              font-weight: bold;
            }

            span[class*="label"] {
              color: #777777;
            }

            span[class*="item"] {
              color: #343434;
              margin-bottom: 35px;
            }

            input {
              width: 169px;
              height: 30px;
              border: 2px solid #d9d9d9;
              border-radius: 8px;
              color: #9c9c9c;
              outline: none;
              margin-top: 5px;
              margin-bottom: 17px;
              padding-left: 11px;
            }

            &-left {
              position: absolute;
              left: 119px;

              span.sns-item {
                margin-bottom: 0;
              }

              .part-item-edit {
                font-size: 13px;
                color: #9c9c9c;
                width: 169px;
                height: 30px;
                border: 2px solid #d9d9d9;
                border-radius: 8px;
                margin-top: 5px;
                margin-bottom: 17px;
                display: flex;
                align-items: center;
                padding-left: 11px;
                cursor: default;
              }
            }

            &-right {
              position: absolute;
              left: 372px;

              span.join-item {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
