section.my-info {
  @include section-custom();

  .my-info {
    height: 100%;

    &-section {
      position: absolute;
      width: 858px;
      flex-direction: column;
      top: calc(50% - 21px);
      left: 50%;
      transform: translate(-50%, -50%);

      &-tag {
        @include tag-custom();
      }

      &-body {
        width: 100%;
        height: 300px;
        background-color: white;
        border-radius: 0 40px 40px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-img {
          position: relative;
          left: 78px;
          width: 190px;
          height: 190px;
          background-color: $disable-color;
          border-radius: 15px;

          > input {
            opacity: 0;
            position: absolute;
            right: 15px;
            top: 15px;
            width: 27px;
            height: 27px;
          }

          i[class*="camera"] {
            position: absolute;
            color: white;
            top: 15px;
            right: 15px;
            font-size: 27px;
          }

          i[class*="user"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 109px;
          }
        }

        &-content {
          position: absolute;
          left: 355px;

          &-text {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: bold;
            color: $sub-color;

            span {
              margin-bottom: 5px;
            }
          }

          &-btn {
            display: flex;
            margin-top: 18px;
            font-size: 16px;
            font-weight: bold;

            input {
              width: 164px;
              height: 40px;
              border: 0;
              background-color: $primary-color;
              color: white;
              border-radius: 19px;
              cursor: pointer;
              font-weight: bold;
              font-size: 16px;

              &:hover {
                outline: 0;
                background-color: $hover-color;
              }
            }

            .edit-btn {
              width: 164px;
              height: 40px;
              border: 2px solid $primary-color;
              border-radius: 19px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $primary-color;
              margin-left: 14px;
              cursor: pointer;

              i {
                margin-right: 5px;
              }

              &:hover {
                border: 2px solid $hover-color;
                color: $hover-color;
              }
            }
          }
        }
      }
    }
  }
}

section.my-work {
  @include section-custom();

  .my-work {
    height: 100%;

    &-section {
      position: absolute;
      max-width: 1200px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      top: calc(50% - 21px);
      left: 50%;
      transform: translate(-50%, -50%);

      &-tag {
        @include tag-custom();
      }

      &-body {
        position: relative;
        width: 100%;
        height: 720px;
        background-color: white;
        border-radius: 0 15px 15px 15px;

        &-today {
          position: absolute;
          top: 20px;
          left: 32px;
          width: 100%;
          font-size: 13px;
          color: $sub-color;

          i {
            margin-right: 5px;
          }
        }

        &-section {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;

          &-input {
            width: 680px;
            height: 100%;
            position: relative;

            &-section {
              width: auto;
              height: 129px;
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translate(-50%, -35%);
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              &-guide {
                width: 300px;
                height: 24px;
                font-size: 14px;
                font-weight: bold;
                margin-left: 35px;
                color: $sub-color;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              &-come {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;

                .calendar {
                  opacity: 0;
                  position: absolute;
                  width: 374px;
                  z-index: 1;
                  transform: translateY(14px);
                  transition: all 300ms;
                  display: flex;
                  justify-content: center;

                  &-come {
                    opacity: 1;
                    position: absolute;
                    width: 374px;
                    transform: translateY(64px);
                    transition: all 300ms;
                    z-index: 3;
                    border: 2px solid $disable-color;
                    display: flex;
                    justify-content: center;
                    box-shadow: 4px 4px 5px 0 rgba(86, 86, 86, 0.15);
                  }
                }
              }

              &-out {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;

                .calendar {
                  opacity: 0;
                  position: absolute;
                  width: 374px;
                  z-index: 0;
                  transform: translateY(14px);
                  transition: all 300ms;
                  display: flex;
                  justify-content: center;

                  &-out {
                    position: absolute;
                    width: 374px;
                    transform: translateY(64px);
                    transition: all 300ms;
                    z-index: 3;
                    opacity: 1;
                    border: 2px solid $disable-color;
                    display: flex;
                    justify-content: center;
                    box-shadow: 4px 4px 5px 0 rgba(86, 86, 86, 0.15);
                  }
                }
              }

              div[class$="datetime"] {
                position: relative;
                z-index: 2;
                margin-right: 23px;
                width: 370px;
                height: 40px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $disable-color;
                border: 2px solid $disable-color;

                input[type="text"] {
                  text-align: center;
                  width: 360px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 0;
                  color: $disable-color;
                  background-color: white;
                  font-weight: bold;
                }

                i {
                  position: absolute;
                  font-size: 18px;
                  right: 20px;
                  cursor: pointer;
                }
              }

              input[type="button"] {
                width: 108px;
                height: 30px;
                background-color: $primary-color;
                color: white;
                border-radius: 10px;
                border: 0;
                cursor: pointer;

                &:hover {
                  background-color: $hover-color;
                }
              }
            }
          }

          &-check {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-header {
              display: flex;
              align-items: center;
              justify-content: center;
              color: $disable-color;
              margin-bottom: 10px;
            }

            &-calendar {
              width: 360px;
              height: 362px;
              border-radius: 10px;

              .vc-container {
                width: 100%;
                height: 100%;
                border: 2px solid $disable-color;
                box-shadow: 4px 4px 5px 0 rgba(204, 204, 204, 0.3);

                .vc-weeks {
                  margin-top: 15%;
                }
              }
            }

            &-record {
              position: relative;
              width: 360px;
              height: 208px;
              background-color: white;
              margin-top: 18px;
              border-radius: 10px;
              border: 2px solid $disable-color;
              box-shadow: 4px 4px 5px 0 rgba(204, 204, 204, 0.3);
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: $sub-color;

              .title {
                color: $disable-color;
                margin-bottom: 13px;
              }

              .user {
                margin-bottom: 6px;
              }
            }
          }
        }
      }
    }
  }
}

section.suggestion {
  @include section-custom();

  .suggestion {
    height: 100%;

    &-section {
      position: absolute;
      max-width: 1200px;
      width: 100%;
      height: auto;
      top: calc(50% - 21px);
      left: 50%;
      transform: translate(-50%, -50%);

      &-tag {
        @include tag-custom();
      }

      &-body {
        position: relative;
        width: 100%;
        height: 750px;
        background-color: white;
        border-radius: 0 15px 15px 15px;

        &-title {
          position: absolute;
          z-index: 1;
          top: 24px;
          left: 40px;
          font-size: 14px;
          font-weight: bold;
          color: $sub-color;
        }

        &-state {
          position: absolute;
          z-index: 2;
          top: 66px;
          left: 40px;
          display: flex;
          align-items: center;
          font-size: 12px;
          color: $sub-color;
          width: auto;
          height: auto;

          &-button {
            width: 200px;
            height: 24px;
            margin-left: 10px;
          }
        }

        &-data {
          position: relative;
          z-index: 0;
          top: 105px;
          left: 40px;
          width: 700px;
          height: calc(100% - 105px);
        }

        &-write {
          position: absolute;
          z-index: 2;
          top: 25px;
          right: 38px;
          width: 360px;
          height: 700px;
          background-color: $background-color;
          border: 2px solid #d9d9d9;
          border-radius: 10px;
          box-shadow: 4px 4px 5px 0 rgba(86, 86, 86, 0.15);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &-title {
            color: $sub-color;
            font-size: 14px;
            font-weight: bold;
            margin-top: 22px;
          }

          &-drop {
            margin-top: 18px;
          }

          &-date {
            position: relative;
            z-index: -1;
            margin-top: 10px;
            width: 280px;
            height: 30px;
            border: 2px solid $disable-color;
            border-radius: 10px;
            color: $sub-color;
            background-color: white;
            font-size: 12px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          textarea {
            width: calc(280px - 18px);
            height: calc(490px - 12px);
            border: 2px solid $disable-color;
            border-radius: 10px;
            margin-top: 18px;
            outline: none;
            z-index: -3;
            resize: none;

            &::placeholder {
              font-size: 12px;
              font-weight: bold;
              color: $disable-color;
            }

            &:valid {
              padding: 12px 18px 12px 18px;
            }
          }

          &-btn {
            width: 180px;
            height: 30px;
            border-radius: 5px;
            background-color: $primary-color;
            font-size: 14px;
            font-weight: bold;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 18px 0 20px 0;
            cursor: pointer;

            &:hover {
              background-color: $hover-color;
            }
          }
        }
      }
    }
  }
}
