section.notice {
  @include section-custom();

  .notice {
    height: 100%;

    &-section {
      position: absolute;
      max-width: 1200px;
      width: 100%;
      height: auto;
      top: calc(50% - 21px);
      left: 50%;
      transform: translate(-50%, -50%);

      &-tag {
        @include tag-custom();
      }

      &-body {
        background-color: white;
        width: 100%;
        height: 800px;
        border-radius: 0 15px 15px 15px;
        font-size: 17px;

        .search {
          position: absolute;
          z-index: 3;
          top: calc(50% - 330px);
          transform: translateY(-50%);
          left: 30px;
          width: 275px;
          height: 33px;
          display: flex;
          align-items: center;
          border: 2px solid $disable-color;
          border-radius: 10px;
          padding-left: 14px;

          i {
            color: white;
            background-color: $disable-color;
            width: 21px;
            height: 21px;
            border-radius: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          input {
            width: 230px;
            height: 33px;
            border: 0;
            outline: 0;
            margin-left: 13px;
            font-weight: bold;

            &::placeholder {
              color: $disable-color;
            }
          }
        }

        &-content {
          position: relative;
          width: 1151px;
          height: calc(100% - 140px);
          top: 100px;
          left: 50%;
          transform: translateX(-50%);

          .no-data {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      @include laptop-size {
        max-width: 1000px;

        &-body {
          height: 600px;

          .search {
            top: 15%;
          }
        }
      }
    }
  }
}
