section.analysis-component {
  @include section-custom();

  .analysis-component {
    height: 100%;

    &-section {
      position: absolute;
      max-width: 1200px;
      width: 100%;
      height: auto;
      top: calc(50% - 21px);
      left: 50%;
      transform: translate(-50%, -50%);

      &-tag {
        @include tag-custom();
      }

      &-body {
        position: relative;
        background-color: white;
        width: 100%;
        height: 800px;
        border-radius: 0 40px 40px 40px;
        display: flex;
        flex-direction: row;

        &-select {
          position: absolute;
          top: 76px;
          left: 79px;
          width: 300px;
          height: 580px;
          background-color: $disable-color;
          border: 2px solid #d9d9d9;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-drop {
            position: relative;
            top: 11px;
          }
        }

        &-list {
          position: absolute;
          top: 35px;
          right: 67px;
          width: 700px;
          height: auto;

          &-header {
            width: 100%;
            height: 41px;
            background-color: $background-color;
            border: 2px solid #efefef;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            color: #343434;

            .name-label {
              margin-right: 121px;
            }

            .analysis-label {
              margin-right: 122px;
            }
          }

          &-item {
            width: 100%;
            height: 131px;
            border: 2px solid #efefef;
            border-top: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: $sub-color;
            font-size: 13px;

            &:hover {
              background-color: $background-color;
            }

            i {
              width: 113px;
              height: 113px;
              border-radius: 5px;
              background-color: $disable-color;
              font-size: 69px;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &-show {
              font-weight: bold;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

section.analysis-content {
  @include section-custom();

  .analysis-content {
    height: 100%;

    &-section {
      position: absolute;
      max-width: 1200px;
      width: 100%;
      height: auto;
      top: calc(50% - 21px);
      left: 50%;
      transform: translate(-50%, -50%);

      &-tag {
        @include tag-custom();
      }

      &-body {
        position: relative;
        background-color: white;
        width: 100%;
        height: 800px;
        border-radius: 0 40px 40px 40px;
      }
    }
  }
}
